## Sublime Text
*.sublime-project
*.sublime-workspace

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Editors / IDEs
.idea/
.vscode/
*.swp
*.swo
*~

## Logs & temp
*.log
npm-debug.log*
.tmp/
temp/
